.App {
  text-align: center;
}

.App-header {
  background-color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main-content {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#Map-box {
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68vw;
  height: 80vh;
  border-radius: 20px;
}

#Search-viewer {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 28vw;
  border-radius: 20px;
}

Iframe {
  width: 65vw;
  height: 75vh;
}

#Search-text {
  width: 25vw;
  height: 5vh;
  font-size: 0.67em;
  margin-bottom: 1%;
}

#Search-header {
  margin-bottom: 5%;
}

#Search-result {
  margin-top: 2%;
  display: flex;
  padding-left: 1.5vw;
}