.App {
  text-align: center;
}

.App-header {
  background-color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main-content {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#Map-box {
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 68vw;
  height: 80vh;
  border-radius: 20px;
}

#Search-viewer {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 28vw;
  border-radius: 20px;
  border: 1px solid rgb(200, 200, 200);
}

Iframe {
  width: 65vw;
  height: 68.5vh;
  border-radius: 20px;
}

#Search-text {
  width: 25vw;
  height: 5vh;
  font-size: 0.67em;
  margin-bottom: 1%;
}

#Search-header {
  margin-bottom: 5%;
}

#Search-result {
  margin-top: 2%;
  display: flex;
  padding-left: 1.5vw;
  margin-bottom: 0%;
}

#Results {
  margin: 0%;
  width: 28vw;
  height: 58.4vh;
  max-height: 58.4vh;
  overflow: scroll;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Result-item {
  width: 90%;
  background-color: #e0e0e0;
  border-radius: 20px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  padding-left: 5%;
}

.Result-item h6 {
  font-size: 85%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.Result-item p {
  font-size: large;
  margin-top: 0%;
  margin-bottom: 0%;
}

.Result-item a {
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: medium;
  font-weight: light;
}

.Secondary, .Tertiary{
  visibility: collapse;
}

#Map-button {
  margin-top: 1.5vh;
  background-color: #e0e0e0;
  width: 50%;
  height: 5vh;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

#Map-button:hover {
  background-color: #c0d9e0;
  transition: 0.5s;
}